[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE={{ nexus_os_max_filedescriptors }}
ExecStart={{ application_dir }}/bin/nexus run
ExecStop={{ application_dir }}/bin/nexus stop
User={{ application_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
